{% extends "basePage.html" %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <table>{{form.as_table}}</table>
    <button>Получить сокращённую ссылку</button>
</form>
<h3> Перечень сокращенных URL:</h3>
    {% for u in short_urls %}
    <div class="item__user" >
        <h3 class="item__user-a"> Полный URL:
        <a href="{{u.long_URL}}" class="item__user-a">
        {{u.long_URL}}</a></h3>
        <h3 class="item__user-a"> Сокращённый URL:
        <a href="{{u.long_URL}}" class="item__user-a">
        {{u.short_URL}}</a></h3>
    </div>
    {% endfor %}
{% endblock %}